{% extends 'main/main.html' %}

{% block title %}
Головна сторінка
{% endblock %}

{% block content %}
<div class="blockk text-bg-white text-center p-3 overflow-hidden">
    {% for el in model_items.query %}
    {% if forloop.first %}
    <div>
        <div class="mt-3">
            <h2 class="display-5">{{el.model}}</h2>
            <p class="lead">{{el.category}}</p>
        </div>
        <div class="superdiv slide-it bg-body-tertiary mx-auto">
            <img src="{{ el.image.url }}" class="img-fluid" style="width: 60%; height: 360px; border-radius: 21px 21px 0 0;" alt="Responsive image">
        </div>
        </div>
    {%endif%}
    {% endfor %}

</div>
<div class="options container border-0">
        <form hx-get="{% url 'models_constructor' %}" hx-target=".superdiv" hx-trigger="change delay:500ms" hx-swap="innerHTML transition:true settle:0.5s">
            <div class="row">
                <div class="type-select col-sm-3 col-lg-2">
                <p>Тип роз'єму</p>
            <select class="form-select" name="type" hx-get="{% url 'constructor_options' %}" hx-target=".phases" hx-trigger="change">
                {% for el in model_items.type %}
                    <option value="{{ el.type }}">{{el.type}}</option>
                {%endfor%}
            </select>
                    </div>

                <div class="phases col-sm-3 col-lg-2">
                <p>Кількість фаз</p>
            <select class="form-select" name="phases" hx-get="{% url 'constructor_options' %}" hx-target=".type-select" hx-trigger="change">
                {% for el in model_items.phases %}
                    <option value="{{ el.phases }}">{{el.phases}}</option>
                {%endfor%}
            </select>
                </div>
                <div class="power-select col-sm-3 col-lg-2">
                <p>Потужність, ампери</p>
            <select class="form-select" name="power_amps">
                {% for el in model_items.power_amps %}
                    <option value="{{ el.power_amps }}">{{el.power_amps}}</option>
                {%endfor%}
            </select>
                </div>
            <div class="col-2">
            <select class="list-group-item visually-hidden" name="brand">
                {% for el in model_items.query %}
                    <option value="{{ el.brand }}">{{el.brand}}</option>
                {%endfor%}
            </select>
            </div>
        </div>
        </form>
    </div>

{% endblock %}