{% extends 'store/main.html' %}


{% block title %}
Всі товари
{% endblock %}

{% block content %}

<div class="row d-flex align-items-center justify-content-center" style="margin: 0; padding: 0;">
    <div class="col-xxl-9 col-xl-11 col-md-11 bg-light mt-2">
        <div class="mt-2">
            <div class="row mb-3">
                <div class="col-4">
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="button" class="btn btn-outline-dark border-start-0 border-bottom-0 border-top-0 rounded-0 btn-md center px-4" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft" aria-controls="offcanvasLeft">
                            Фільтрувати
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-sliders2" viewBox="0 0 16 16">
                                <path fill-rule="evenodd" d="M10.5 1a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4H1.5a.5.5 0 0 1 0-1H10V1.5a.5.5 0 0 1 .5-.5M12 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5m-6.5 2A.5.5 0 0 1 6 6v1.5h8.5a.5.5 0 0 1 0 1H6V10a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5M1 8a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2A.5.5 0 0 1 1 8m9.5 2a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V13H1.5a.5.5 0 0 1 0-1H10v-1.5a.5.5 0 0 1 .5-.5m1.5 2.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1h-2a.5.5 0 0 1-.5-.5"/>
                            </svg>
                        </button>
                            <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasLeft" aria-labelledby="offcanvasLeftLabel">
                                <div class="offcanvas-header">
                                    <h5 class="offcanvas-title" id="offcanvasLeftLabel">Фільтр</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                                </div>
                                <div class="offcanvas-body">
                                    <form action="{% url 'store' %}" method="get">
                                    <ul class="list-group rounded-0 mb-3">
                                        {% for parameters in view.get_parameters.categories %}
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="{{ parameters }}" id="firstCheckbox11" name="categories">
                                            <label class="form-check-label" for="firstCheckbox11">
                                                {% if parameters == 1 %}
                                                Зарядні пристрої
                                                {% elif parameters == 2 %}
                                                Зарядні кабелі
                                                {% endif %}
                                            </label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <ul class="list-group rounded-0 mb-3">
                                        {% for parameters in view.get_parameters.types %}
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="{{ parameters }}" id="firstCheckbox1" name="type">
                                            <label class="form-check-label" for="firstCheckbox1">{{parameters}}</label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <ul class="list-group rounded-0 mb-3">
                                        {% for parameters in view.get_parameters.powers_amps %}
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="{{ parameters }}" id="firstCheckbox12" name="power_amps">
                                            <label class="form-check-label" for="firstCheckbox12">{{parameters}} Ампер</label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <ul class="list-group rounded-0 mb-3">
                                        {% for parameters in view.get_parameters.phases %}
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="{{ parameters }}" id="firstCheckbox13" name="phases">
                                            <label class="form-check-label" for="firstCheckbox13">{{parameters}}</label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <ul class="list-group rounded-0 mb-3">
                                        {% for parameters in view.get_parameters.brands %}
                                        <li class="list-group-item">
                                            <input class="form-check-input me-1" type="checkbox" value="{{ parameters }}" id="firstCheckbox14" name="brand">
                                            <label class="form-check-label" for="firstCheckbox14">{{parameters}}</label>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                    <button type="submit" class="btn btn-warning opacity-75 rounded-0">Пошук</button>
                                    </form>
                                </div>
                            </div>
                        <button type="button" class="btn btn-outline-dark border-top-0 border-bottom-0 border-end-0 rounded-0 btn-md" data-bs-toggle="dropdown">
                            Сортувати
                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" fill="currentColor" class="bi bi-sort-down" viewBox="0 0 16 16">
                                <path d="M3.5 2.5a.5.5 0 0 0-1 0v8.793l-1.146-1.147a.5.5 0 0 0-.708.708l2 1.999.007.007a.497.497 0 0 0 .7-.006l2-2a.5.5 0 0 0-.707-.708L3.5 11.293V2.5zm3.5 1a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zM7.5 6a.5.5 0 0 0 0 1h5a.5.5 0 0 0 0-1h-5zm0 3a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1h-3zm0 3a.5.5 0 0 0 0 1h1a.5.5 0 0 0 0-1h-1z"/>
                            </svg>
                        </button>
                        <ul class="dropdown-menu rounded-0 shadow border-dark">
                            <li><a class="dropdown-item" href="?sort=price_up">Від дешевих</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="?sort=price_down">Від дорогих</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="?sort=date_new">Нові товари</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="?sort=in_stock">Навяність товарів</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-8 d-flex justify-content-end">
                    <button type="button" class="btn btn-outline-dark border-start-0 border-end-0 border-top-0 rounded-0">
                        Перейти до аксесуарів
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="row">

            <!--  all items list  -->
            <div class="col-lg-12">
                <div class="row">

                    {% for item in items %}
                    <div id="modals-here"
                        class="modal modal-blur fade"
                        style="display: none"
                        aria-hidden="false"
                        tabindex="-1">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content"></div>
                        </div>
                    </div>
                    <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-6 position-relative">
                        <div class="card d-block mx-auto position-relative rounded-0" id="item-card" style="width: 18rem;">
                            <div id="quick_view_{{item.slug}}" class="position-absolute"></div>

                            {% if item.image %}
                            <a href="{% url 'item_detail' category=item.category.slug model=item.model.slug charger_slug=item.slug %}">
                                <img src="{{ item.image.url }}" class="bd-placeholder-img card-img-top" width="100%">
                            </a>
                            {% else %}
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                            {% endif %}

                            <div class="position-absolute top-0 end-0 p-2">
                                <button type="submit" class="btn"
                                    hx-get="{% url 'quick_view' category=item.category.slug model=item.model.slug charger_slug=item.slug %}"
                                    hx-target="#modals-here"
                                    hx-trigger="click"
                                    data-bs-toggle="modal"
                                    data-bs-target="#modals-here">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-fullscreen opacity-50" viewBox="0 0 16 16">
                                        <path d="M1.5 1a.5.5 0 0 0-.5.5v4a.5.5 0 0 1-1 0v-4A1.5 1.5 0 0 1 1.5 0h4a.5.5 0 0 1 0 1h-4zM10 .5a.5.5 0 0 1 .5-.5h4A1.5 1.5 0 0 1 16 1.5v4a.5.5 0 0 1-1 0v-4a.5.5 0 0 0-.5-.5h-4a.5.5 0 0 1-.5-.5zM.5 10a.5.5 0 0 1 .5.5v4a.5.5 0 0 0 .5.5h4a.5.5 0 0 1 0 1h-4A1.5 1.5 0 0 1 0 14.5v-4a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v4a1.5 1.5 0 0 1-1.5 1.5h-4a.5.5 0 0 1 0-1h4a.5.5 0 0 0 .5-.5v-4a.5.5 0 0 1 .5-.5z"/>
                                    </svg>
                                </button>
                            </div>
                            <div class="card-body">

                                {% if item.in_stock == 'True' %}
                                <div class="bottom-0 start-0 text-start">
                                    <span class="text-muted fw-normal fw-light fs-6 bg-white">
                                        В наявності
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="green" class="bi bi-check-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                        </svg>
                                    </span>
                                </div>

                                {% elif item.in_stock == 'False' %}
                                <div class="bottom-0 start-0 text-start">
                                    <span class="text-muted fw-normal fw-light fs-6 bg-white">
                                        Немає в наявності
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
                                        </svg>
                                    </span>
                                </div>

                                {% elif item.in_stock == 'pending' %}
                                <div class="bottom-0 start-0 text-start">
                                    <span class="text-muted fw-normal fw-light fs-6 bg-white">
                                        Під замовлення
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="orange" class="bi bi-info-circle-fill" viewBox="0 0 16 16">
                                            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16m.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2"/>
                                        </svg>
                                    </span>
                                </div>
                                {% endif %}

                                {% if user_agent.is_mobile %}
                                <h6 class="card-title display-6">{{item.title}}</h6>
                                {% else %}
                                <h6 class="card-title fw-light fs-5">{{item.title}}</h6>
                                {% endif %}
                                <h6 class="text-muted fw-normal fs-6 small">{{item.category}}</h6>

                            </div>
                            <ul class="list-group border-top-0 rounded-0">
                                <li class="list-group-item border-0">
                                    <div class="row">
                                        <div class="col-7">
                                            <div class="container text-dark text-start">
                                                <p class="fw-semibold">{{item.price}} ₴</p>
                                            </div>
                                        </div>
                                        <div class="col-5 text-right">
                                            <button type="button" class="btn btn-warning btn-md opacity-75 rounded-0 shadow">
                                                Купити
                                            </button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <br>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        </div>
        <button type="button" class="btn btn-up btn-white" style="position: fixed; bottom: 20px; left: 570px; margin: 0; padding: 5px 3px;">
            <a href="#" class="link-info opacity-75">
            <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z"/>
            </svg>
            </a>
        </button>
    </div>


<!--  pagination menu  -->

        {% if is_paginated %}
        <nav aria-label="Page navigation" class="d-flex justify-content-center">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link link-warning rounded-0" href="?{{ queries }}&amp;page={{ page_obj.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link border-0" aria-hidden="true">&laquo;</span>
                </li>
                {% endif %}

                {% for p in page_obj.paginator.page_range %}
                    {% if p == page_obj.number %}
                    <li class="page-item active" aria-current="page">
                        <span class="page-link bg-secondary opacity-75 border-secondary">{{ p }}</span>
                    </li>
                    {% else %}
                    <li class="page-item focus-ring">
                        <a class="page-link link-dark" href="?{{ queries }}&amp;page={{ p }}">{{ p }}</a>
                    </li>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link link-warning rounded-0" href="?{{ queries }}&amp;page={{ page_obj.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <span class="page-link border-0" aria-hidden="true">&raquo;</span>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
</div>
{% endblock %}