{% extends 'store/main.html' %}

{% block title %}
Головна сторінка
{% endblock %}

{% block content %}
<div class="row" style="width: 100%; margin: 0; padding: 0;">
    <div class="col-xxl-9 col-lg-12 col-md-10 mx-auto mt-2 p-3 border-light bg-light">
        <div class="row">

            <!--  charging stations menu  -->
            <div class="col-lg-3 col-md-6 col-6">
                <a href="{% url 'items_model' category='charging_stations' %}">
                    <div class="card text-dark shadow" id="welcome-card1">
                        {% load static %} <img src="{% static 'store/chargers_category_new4.png' %}" class="card-img opacity-75" alt="image">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-warning">Зарядні пристрої</h5>
                            <p class="card-text">Зарядні пристрої для електромобілів це основний гаджет котрий має бути у кожного електромобіліста.</p>
                        </div>
                    </div>
                </a>
            </div>

            <!--  charging cables menu  -->
            <div class="col-lg-3 col-md-6 col-6">
                <a href="{% url 'items_model' category='charging_cables' %}">
                    <div class="card text-dark shadow" id="welcome-card2">
                        {% load static %} <img src="{% static 'store/cable_category2.png' %}" class="card-img opacity-75" alt="image">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-warning">Зарядні кабелі</h5>
                            <p class="card-text">Зарядні кабелі допоможуть вам зарядитися на публічних зарядках вашого міста.</p>
                        </div>
                    </div>
                </a>
            </div>

            <!--  plugs menu  -->
            <div class="col-lg-3 col-md-6 col-6">
                <a href="ссылка_на_страницу">
                    <div class="card text-dark shadow" id="welcome-card3">
                        {% load static %} <img src="{% static 'store/rozetki_category.png' %}" class="card-img opacity-75" alt="image">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-warning">Розетки і перехідники</h5>
                            <p class="card-text">Допоміжні аксесуари для вашого зарядного обладнання</p>
                        </div>
                    </div>
                </a>
            </div>

            <!--  accessories menu  -->
            <div class="col-lg-3 col-md-6 col-6">
                <a href="ссылка_на_страницу">
                    <div class="card text-dark shadow" id="welcome-card4">
                        {% load static %} <img src="{% static 'store/accesories_category.png' %}" class="card-img opacity-75" alt="image">
                        <div class="card-img-overlay">
                            <h5 class="card-title text-warning">Аксесуари</h5>
                            <p class="card-text">Різноманітні аксесуари для вашого автомобіля та обладнання</p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}