{% extends 'main/main.html' %}


{% block title %}
Сторінка товару
{% endblock %}

{% block content %}
<div class="container-lg">
    <div class="container border-bottom bg-light mt-4">
        <h6 class="text-center display-6">Порівняння товарів:</h6>
    </div>
    <div class="row">
        {% if request.session.comparison %}
            {% for item in request.session.comparison %}
            <div class="col-6 col-lg-3 d-flex justify-content-center">
                <div class="card border-0" style="width: 12rem; ">
                    {% for chargers in chargers_detail %}
                        {% if item.slug == chargers.slug %}

                            {% if chargers.image %}
                            <a href="{% url 'item_detail' category=chargers.category.slug model=chargers.model.slug charger_slug=chargers.slug %}">
                                <img src="{{ chargers.image.url }}" class="card-img-top" width="50%" height="180">
                            </a>
                            {% else %}
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                            {% endif %}
                            <div class="list-group-item text-center mt-2 fw-light fs-6 bg-light rounded-2"><p>{{chargers.title}}</p></div>
                            <div class="card-body">

                            <!--delete form-->
                            <form method="post" action="{% url 'remove_from_comparison' %}">
                                {% csrf_token %}
                                <input type="hidden" name="slug" value="{{item.slug}}">
                                <input type="hidden" name="action" value="delete">
                                <div class="position-absolute top-0 end-0 p-2 opacity-75">
                                    <button type="submit" class="btn btn-lg btn-close"></button>
                                </div>
                            </form>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item border-warning fw-semibold">{{chargers.type}}</li>
                                    <li class="list-group-item border-warning fw-semibold">{{chargers.power_amps}} Ампер</li>
                                    <li class="list-group-item border-warning fw-semibold">{{chargers.power}} кВт</li>
                                    <li class="list-group-item border-warning fw-semibold">{{chargers.phases}}</li>
                                    <li class="list-group-item border-warning fw-semibold">{{chargers.cable_length}} метрів</li>
                                    <li class="list-group-item border-warning fw-semibold">{{chargers.form}}</li>
                                    <li class="list-group-item border-warning fw-semibold">{{chargers.protection}}</li>
                                    <li class="list-group-item border-warning fw-semibold">{{chargers.brand}}</li>
                                    <li class="list-group-item border-warning fw-semibold">{{chargers.country}}</li>
                                    <li class="list-group-item border-warning fw-semibold">{{chargers.guarantee}}</li>
                                    <li class="list-group-item border-warning fw-semibold">{{chargers.price}} ₴</li>
                                    <li class="list-group-item border-warning fw-semibold">{{chargers.features}}</li>
                                </ul>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        {% else %}
        <div class="container-lg">
            <div class="container bg-light mt-3 mb-2">
                <p class="fw-5">До списку порівнянь не додано жодного товару. Можете переглянути товари на сторінці <a href="{% url 'store' %}" class="link-warning link-underline">магазину</a></p>
            </div>
        </div>
        {% endif %}

    </div>
</div>
{% endblock %}