#search-results-item {
    position: relative;
    overflow: visible;
}

.search-results {
    position: absolute;
    z-index: 999;
}

#item-card:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
    z-index: 1;
}
#model-card:hover {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
    transform: scale(1.01);
    z-index: 1;
}
    #welcome-card1:hover, #welcome-card2:hover, #welcome-card3:hover, #welcome-card4:hover:hover {
        border: none;
    }
    a {
    text-decoration: none;
    }
    .form-control:focus {
        border-color: #ffffff;
        box-shadow: 0 0 0 0.2rem rgba(93, 85, 64, 0.2);
    }
    .search-main:focus {
    border-color: #ededed;
    box-shadow: 0 0 0 0.2rem rgba(227, 186, 52, 0.5);
}
    .card custom-card {
        max-width: 14rem;
    }
    .accordion-button:focus {
        border-color: #181a18;
        box-shadow: 0 0 0 0.2rem rgba(93, 85, 64, 0.2);
    }
    .offcanvas-end {
     width:75% !important;
    }

.offcanvas-start {
     width:60% !important;
    }
   @media (min-width: 992px) {
    .offcanvas-start {
    width: 30% !important; /* Змініть ширину на вашу потребу */
  }
}
.offcanvas-top {
     height:13% !important;
    }

#quick_view {
    position: absolute;
    z-index: 1000;
    /* Додайте інші стилі за потребою */
}
.pagination .page-link:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 0.2rem rgba(93, 85, 64, 0.2);
}

.list-group .list-group-item .form-check-input:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 0.2rem rgba(93, 85, 64, 0.2);
}
.list-group .list-group-item .form-check-input:checked {
    border-color: #ffffff;
    box-shadow: 0 0 0 0.2rem rgba(93, 85, 64, 0.2);
}
.form-check-input:checked {
  background-color: #e8ab33; /* Змініть колір фону на ваш вибір */
  border-color: #e8ab33; /* Змініть колір рамки на ваш вибір */
}
.btn-close:focus {
    border-color: #181a18;
    box-shadow: 0 0 0 0.2rem rgba(93, 85, 64, 0.2);
}

.carousel-control-prev,
.carousel-control-next {
    width: 30px; /* Змініть це значення за потреби */
}
.footer {  /* Selects text inside a <p> tag that is inside a .footer <div> */
   margin-bottom: 0; /* removes default <p> tag margin from the bottom */
}
body {
  padding-bottom: 0px !important;
  margin-bottom: -40px !important;
}
footer.well{
  margin-bottom: -20px !important;
}
[data-loading] {
  display: none;
}