/* стиль списку атрибутів фільтру store */
.list-group .list-group-item .form-check-input:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 0.2rem rgba(93, 85, 64, 0.2);
}
.list-group .list-group-item .form-check-input:checked {
    border-color: #ffffff;
    box-shadow: 0 0 0 0.2rem rgba(93, 85, 64, 0.2);
}
.form-check-input:checked {
  background-color: #e8ab33;
  border-color: #e8ab33;
}

/* стиль пагінації */
.pagination .page-link:focus {
    border-color: #ffffff;
    box-shadow: 0 0 0 0.2rem rgba(93, 85, 64, 0.2);
}

/* стиль швидкого перегляду товарів quick_view */
#quick_view {
    position: absolute;
    z-index: 1000;
}

/* стиль кнопки фільтр для сторінок store */
.offcanvas-start {
  width:60% !important;
}
@media (min-width: 992px) {
  .offcanvas-start {
    width: 30% !important;
  }
}

/* стиль карток товарів на сторінці item-list та store */
#item-card:hover {
    border-bottom: 2px solid orange !important;
    transform: scale(1.02);
    z-index: 1;
    transition: transform 250ms;
}

#item-card-mob:hover {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);
  transform: scale(1.02);
  z-index: 1;
  transition: transform 250ms;
}